.ab{
    padding-top:0;
    text-align:center;
    margin-left:34%;
    margin-right:34%;
 
  
    
  }
    .container {
      border-radius: 5px;
      background-color: white;
    
      
      padding-right: 80px;
      padding-left: 80px;
      padding-top: 30px;
      padding-bottom: 30px;
     
      
      
    }
    body {
     
      background-image: url("./bg.jpg");
    }
    
    input[type=text],input[type=tel], select, textarea {
        width: 50%;
        
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin: 5px;
        float: left;
      }
      
      .lb {
        padding: 10px 10px 10px 0;
        display: inline-block;
        float:left;
        
      }
      
      input[type=button] {
        background-color: #4d3ed4;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

      }
      
      input[type=button]:hover {
        background-color: #6a68e7;
        text-align: right;
      }
      input[type=reset] {
        background-color: #f32c2c;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

      }
      
      input[type=reset]:hover {
        background-color: #6a68e7;
        text-align: right;
      }
      
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align:center;
    }
    
    .form-input-text {
        width: 35%;
        float:left;
        text-align: right;
    }
    
    .star{
      color: red;
    }
    /* .result
    {
      display: none;
    } */
    table{
      margin-left: 20px;
      margin-right: 20px;
    }
    
    
table, th, td {
  
  padding-top: 10px;
  
  
  
} 
td {
  
  text-align: left;  
  width:20px;
  
 
}
th{
  float:left ;
  
  
}
#rslt{
  display: none;
  margin-top: 40px;
  text-align: center;
  
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
