
.carousel-item {
    width: 100%; height: auto;
	
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;

}
.image-wrap{
	width:100%;
	position:relative;
	overflow:hidden;
	height:240px;/* set arbitrary height*/
  }
  #carousel .image-wrap img.facilitiesImage {
	width: auto;
	height:240px;
	margin-left: auto;
	margin-right: auto;
  }
  @supports (object-fit: cover){
  #carousel .image-wrap img.facilitiesImage {
	width: 60%;
	height:240px;
	margin-left: auto;
	margin-right: auto;
	object-fit:cover;
  }
  }

  .carousel-item {
	text-align: center;
  }
  
.carousel-caption {
    bottom: 120px;
   
}


.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
}
.carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.navbar-light .navbar-brand {
	color: rgb(255, 255, 255);
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-custom {
    color: #FFFFFF;
	background-color: #0000007a;
	
}

	.navbar-fixed-top.scrolled {
		background-color: #fff !important;
		transition: background-color 200ms linear;

}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
}
.navbar-toggler {
	background: rgb(255, 255, 255);
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(197, 197, 197);
}



section {
    padding: 80px 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.tab {
    margin-left: 2.5em
   }
   div.container {
	padding: 10px;
  }
  
  div.polaroid {
	width: 170px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	padding: 2px;
  }
  
  div.card {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
  }
  
  div.header {
	  background-color: #4CAF50;
	  color: white;
	  padding: 10px;
	  font-size: 40px;
  }
  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #b4afaf;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* ********************************************** */
.fa {
	padding: 10px;
	font-size: 30px;
	width: 35px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  
  .fa-google {
	background: #dd4b39;
	color: white;
  }

  
  .fa-youtube {
	background: #bb0000;
	color: white;
  }
  
  .fa-instagram {
	background: #125688;
	color: white;
  }
  
/* ************************* */
.zoom {

	transition: transform 2s;
	
	
	
  }
  
  .zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
  }
  
  input[type=button]:hover {
	background-color: #6a68e7;
  }
  input[type=button] {
	background-color: #5e4df3;
	color: white;
	float: right;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 100px;

  }
  .imgd {
	border: 1px solid rgba(151, 149, 149, 0.534);
	border-radius: 4px;
	/* padding: 5px; */
	width: 15px;
  }
  
  .imgd:hover {
	box-shadow: 1px 0 px 1px rgba(58, 59, 59, 0.5);
  }



  /* ********************* */
  
  .card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin: 8px;
}
.container {
    padding: 0 16px;
}
.column {
    float: left;
    width: 30.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}